$color-primary: #FFFFFF;
$color-secondary: #FFFFFF;
$color-tertiary: #FFFFFF;

$color-basic: #FFFFFF;
$color-shadow: #FFFFFF;

$color-bg1: peachpuff;
$color-bg2: lightblue;
$color-bg3: palevioletred;
$color-bg4: lightseagreen;
$color-bg5: peru;
$color-bg6: lavender;
$color-bg7: yellowgreen;
$color-bg8: plum;