// OUTLINE
$outline1: 1px solid lightgrey;
$outline2: 1px solid lightsalmon;
$outline3: 1px solid yellow;
$outline4: 1px solid lightblue;

// MARGIN & PADDING
$spacing-sm: 0.2rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;
$spacing-xxl: 5rem;

// BORDER
$border-sm: 0.1rem solid lightgrey;
$border-md: 0.2rem solid lightgrey;
$border-lg: 0.3rem solid lightgrey;

// BORDER-RADIUS
$border-radius-sm: 0.2rem;
$border-radius-md: 0.4rem;
$border-radius-lg: 0.6rem;

// TEXT-SHADOW
$color-shadow: darkslategray;
$text-shadow-sm: 0.05rem 0.05rem $color-shadow;
$text-shadow-md: 0.07rem 0.07rem $color-shadow;
$text-shadow-lg: 0.1rem 0.15rem $color-shadow;

// DROP-SHADOW
$drop-shadow-sm: drop-shadow(0.10rem 0.10rem 0.03rem $color-shadow);
$drop-shadow-md: drop-shadow(0.15rem 0.15rem 0.05rem $color-shadow);
$drop-shadow-lg: drop-shadow(0.20rem 0.20rem 0.07rem $color-shadow);

// SIZE (alpha)
$size-alpha-sm: 1rem;
$size-alpha-md: 2rem;
$size-alpha-lg: 3rem;
$size-alpha-xl: 4rem;
$size-alpha-xxl: 5rem;

// SIZE (beta)
$size-beta-sm: 6rem;
$size-beta-md: 8rem;
$size-beta-lg: 10rem;
$size-beta-xl: 12rem;
$size-auto: auto;

// Z-INDEX
$z-index-first: 10;
$z-index-second: 20;
$z-index-third: 30;

// CURSOR
$cursor-pointer: pointer;